/* styles.css */

.tab-container {
    height: 30px !important;
}

.tab {
    width: 12vw !important;
    height: 8vh !important;
    font-weight: bold !important;
    font-size: calc(2px + 0.7vw) !important;
    color: white !important;
    background-color: black !important;
    align-items: center;
    justify-content: center;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    margin: 2px !important;
    margin-bottom: 0px !important;
    padding: 4px !important;
}

.minimize-button {
    width: 20px !important;
    height: 10px !important;
    text-align: right !important;
    color: white !important;
    margin: 0 !important;
    background-color: gray !important;
}

.scrollbar-hidden {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.input-row {
    margin-top: calc(5px + 0.5vh) !important;

}

.input-label {
    text-align: right !important;
    font-size: calc(7px + 0.5vw) !important;
    text-decoration-thickness: 2px !important;
    color: black !important;
}

.input-box {
    text-align: left !important;
    font-size: calc(5px + 0.5vw) !important;
    height: 4vh !important;
}

.current-card {
    text-align: right !important;
    font-size: calc(10px + 0.75vw) !important;
    text-decoration-thickness: 6px !important;
    color: black !important;
}

.apply-button {
    width: calc(20px + 6vw) !important;
    height: calc(10px + 2vh) !important;
    font-size: calc(5px + 0.5vw) !important;
}

.dropdown {
    width: 10vw !important;
    font-size: calc(5px + 0.5vw) !important;
    height: 4vh !important;
    text-align: left !important;
}